.divContacto{
    display: inline-block;
    width: 100%;
    height: auto;
}

h2{
    text-align: justify;
}

.divDatos{
    display: flow-root;
    width: 50%;
    height: auto;
    padding: 10px;
    float: left;
    color: whitesmoke;
    text-align: left;
    font-family: 'Crimson Text', serif, Helvetica, Arial;
}

.dato{
    color: rgb(183, 224, 191);
    margin-right: 5px;
    font-size: 20px;
}

@media (max-width: 576px) {

    .divDatos{
        font-size: 15px;
    }
}