<div class="divMain">
    <h1>Contacto</h1>
    <hr>
    <table class="tableContact">
        <tr>
            <td>Email:   jesus0047_mac@outlook.com</td>
            <td>Cel:   55-76-11-78-68</td>
        </tr>
    </table>
    <h2>Datos generales</h2>
    <table class="tableContact">
        <tr>
            <td>Edad:   25 años</td><td>Hijos:   Ninguno</td>
        </tr>
        <tr>
            <td>Estado civil:   Soltero</td><td>Estudios:   Licenciatura</td>
        </tr>
        <tr>
            <td>Escuela:   Universidad ICEL</td><td>Licenciatura:   Sistemas Computacionales</td>
        </tr>
        <tr>
            <td>Fecha de termino de la carrera:   Mayo del 2020</td>
        </tr>
    </table>
</div>
