<div class="divMain">
    <h1>Contacto</h1>
    <hr>
    <table class="tableContact">
        <tr>
            <td><span class="dato">Email: </span>jesus0047_mac@outlook.com</td>
            <td><span class="dato">Cel: </span>55-76-11-78-68</td>
        </tr>
    </table>
    <h2>Datos generales</h2>
    <table class="tableContact">
        <tr>
            <td><span class="dato">Edad: </span>25 años</td>
            <td><span class="dato">Hijos:</span>Ninguno</td>
        </tr>
        <tr>
            <td><span class="dato">Estado civil:</span>Soltero</td>
            <td><span class="dato">Estudios:</span>Licenciatura</td>
        </tr>
        <tr>
            <td><span class="dato">Escuela:</span>Universidad ICEL</td>
            <td><span class="dato">Licenciatura:</span>Sistemas Computacionales</td>
        </tr>
        <tr>
            <td><span class="dato">Fecha de termino de la carrera:</span>Mayo del 2020</td>
        </tr>
    </table>
</div>
