.tableContact{
    display: inline-block;
    margin: 0 auto;
    font-family: 'Crimson Text', serif, Helvetica, Arial;
}

.tableContact tr{
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}

.tableContact tr td{
    color: whitesmoke;
    margin: 5px;
    padding: 10px;
    padding-right: 30px;
    font-size: 20px;
}

.dato{
    color: rgb(183, 224, 191);
    margin-right: 5px;
    font-size: 20px;
}