<div class="divMain">
  <h1>Contacto</h1>
  <hr>
  <div class="divContacto">
    <div class="divDatos">
      <span class="dato">Email: </span>jesus0047_mac@outlook.com
    </div>
    <div class="divDatos">
      <span class="dato">Cel: </span>55-76-11-78-68
    </div>
  </div>
  <h2>Datos generales</h2>
  <div class="divContacto">
    <div class="divDatos">
      <span class="dato">Edad: </span>25 años
    </div>
    <div class="divDatos">
      <span class="dato">Hijos:</span>Ninguno
    </div>
    <div class="divDatos">
      <span class="dato">Estado civil:</span>Soltero
    </div>
    <div class="divDatos">
      <span class="dato">Estudios:</span>Licenciatura
    </div>
    <div class="divDatos">
      <span class="dato">Escuela:</span>Universidad ICEL
    </div>
    <div class="divDatos">
      <span class="dato">Licenciatura:</span>Sistemas Computacionales
    </div>
    <div class="divDatos">
      <span class="dato">Fecha de termino de la carrera:</span>Mayo del 2020
    </div>
  </div>
</div>
