@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

p{
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    font-size: 15px;
    background-color: rgba(98, 109, 112, 0.5);
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
    text-align: center;
}