<div class="divMain">
  <h1>Proyectos</h1>
  <hr>
  <div class="project">
    <h2>Portafolio</h2>
    <div class="MainImg">
            <img class="d-block w-100" src="../../../assets/img/portafolio_01.PNG">
    </div>
    <div class="info">
        <button type="button" class="btn btn-primary"><a [routerLink]="['/proyecto1']">
          Ver info del proyecto
        </a></button>
        <button type="button" class="btn btn-success"><a [routerLink]="['/sobre-mi']">
          Ver proyecto
        </a></button>
    </div>
  </div>
  <div class="project">
    <h2>Peliculas</h2>
    <div class="MainImg">
      <img class="d-block w-100" src="../../../assets/img/seminario_01.PNG">
    </div>
    <div class="info">
        <button type="button" class="btn btn-primary"><a [routerLink]="['/proyecto2']">
          Ver info del proyecto
        </a></button>
        <button type="button" class="btn btn-success"><a href="https://seminariojmac.000webhostapp.com/">
          Ver proyecto
        </a></button>
    </div>
  </div>
</div>