.project{
    border: 1px solid greenyellow;
    border-radius: 25px;
    margin: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.MainCarousel{
    height: 150px;
    width: 300px;
    display: inline-block;
    margin-right: 50px;
}

.project h2{
    text-align: center;
    margin-top: 10px;
}

.info{
    height: 150px;
    width: 250px;
    text-align: center;
    float: right;
    margin-right: 75px;
    margin-left: 10px;
}

button{
    height: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

a{   
    color: black !important;
    text-decoration: none;
}

img{
    border-radius: 20px;
}