.project{
    border: 1px solid greenyellow;
    border-radius: 25px;
    margin: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    height: auto;
    display: inline-block;
}

.MainImg{
    height: 150px;
    width: 300px;
    display: inline-block;
    margin-right: 50px;
}

.project h2{
    text-align: center;
    margin-top: 10px;
}

.info{
    height: 150px;
    width: 250px;
    text-align: center;
    float: right;
    margin-right: 75px;
    margin-left: 10px;
}

button{
    height: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    display: inline-flex;
}

a{   
    color: black !important;
    text-decoration: none;
    text-align: center;
}

img{
    border-radius: 20px;
}

@media (max-width: 800px) {

    .project h2{
        font-size: 30px;
    }

    .project{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

    .MainImg{
        display: block;
        width: 100% !important;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        max-height: auto !important;
        float: none !important;
        margin-bottom: 10px;
        position: relative;
    }
    
    .info{
        display: block;
        width: 100%;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        float: none !important;
        position: relative;
    }
    
    button{
        width: 80%;
        display: block !important;
        text-align: center;
        font-size: 20px;
        position: relative;
        margin-left: 47%;
        transform: translateX(-50%);
    }
    
    button a{
        text-align: center;
    }
}